PORT=8000

JWT_SECRET=sportfieldhub_super_secret_key_2410511088_change_me

AUTH_SERVICE_URL=http://127.0.0.1:8001
FIELD_SERVICE_URL=http://127.0.0.1:8002
BOOKING_SERVICE_URL=http://127.0.0.1:8003

RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=60