PORT=8002

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=field_db
DB_USER=root
DB_PASSWORD=

JWT_SECRET=sportfieldhub_super_secret_key_2410511088_change_me
INTERNAL_SERVICE_TOKEN=change_this_internal_service_token