PORT=8003

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=booking_db
DB_USER=root
DB_PASSWORD=

AUTH_SERVICE_URL=http://127.0.0.1:8001/api
FIELD_SERVICE_URL=http://127.0.0.1:8002

INTERNAL_SERVICE_TOKEN=sportfieldhub_internal_token_2410511088